a {
	color: black;
}

a:hover {
    font-weight: bold;
}
a:active {
    color: darkred;
}
body {
	background: lightgray;
}
.selected {
	background: gray;
	font-weight: bold;
}
table td {
	cursor: pointer;
}
table td:hover {
	background: lightgray;
}
.error-message, .warning-message, .success-message {
	width: 100%;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid white;
	border-left: 6px solid orange;
	font-weight: bold;
	text-align: center;
	box-shadow: -1px 1px .5em black;
}
.error-message {
	background-color: red;
	color: white;
	font-size: 1.5em;
}
.warning-message {
	background-color: yellow;
	color: black;
}
.success-message {
	background-color: lightgreen;
	color: white;
}
.admin-nav {
	width: 50%;
	list-style: none;
}
.admin-nav ul li {
	background: black;
	margin-bottom: 1%;
	box-shadow: -1px 1px .3em black;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-radius: 10px 0 0 10px;
	transition: background .2s linear;
	text-align: center;
	list-style: none;
}
.admin-nav ul li a{
    color: white;
    font-family: "Book Antiqua";
    text-decoration: none;
    font-size: 1.2em;
	display: block;
}
.admin-nav ul li:hover {
    background: darkred;
    transition: background .2s linear;
}
.elems-list {
	list-style-type: none;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
}
.elems-list li:first-child, .elems-list li:last-child {
	cursor: pointer;
}
.elems-list li {
	float: left;
	margin-right: 3%;
	font-weight: bold;
	font-size: 14pt;
}
h2, h3 {
    padding: 0 40px;
	text-align: center;
	background: black;
	color: white;
	position: relative;
	border-top: 1px solid red;
	border-right: 1px solid red;
	border-radius: 15px 0 0 15px;
	box-shadow: 1px 1px 0.3em black;
	clear: none !important;
}
h2 {
	font-size: 1.6em;
	margin: 20px -40px 5px 0px !important;
}
h3 {
	background: darkred;
	margin: 10px -20px 5px 0px !important;
}